* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    width: calc(100% - 20%);
    margin-top: 3em;
}
header {
    color: white;
    background: #232625;
    text-align: center;
    border-radius: 0.5em 0.5em 0 0;
}
#parametros {
    padding: 0.2em 0 0.2em 0;
    background: #35403A;

    #tarea {
        width: 30em;
        padding: 0.2em 0.5em 0.2em 0.5em;
        border: 1px solid transparent;
        border-radius: 0.5em;
        outline: none;
    }
    #agregar {
        background: white;
        border: 1px solid transparent;
        padding: 0.2em 0.5em 0.2em 0.5em;
        border-radius: 0.5em;
        cursor: pointer;
    }
}
#tareas {
    background: #222;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0 0.5em 0;
    border-radius: 0 0 0.5em 0.5em;
}
#intrucciones {
    color: white;
}


.clasTarea {
    width: calc(100% - 2%);
    color: white;
    text-align: center;
    border: 2px solid white;
    border-radius: 0.3em;
    cursor: pointer;
    user-select: none;
}
.clasTarea + .clasTarea {
    margin-top: 1em;
}
.complete {
    border: 2px solid gray;
    color: gray;

    h2 {
        text-decoration: line-through;
    }
}